%h1 Listing products

%table
  %tr
    %th Title
    %th Description
    %th Price
    %th User
    %th
    %th
    %th

  - products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= product.price
      %td= product.user
      %td= link_to 'Show', category_product_path(product.category, product)
      %td= link_to content_tag(:span,'',class:'glyphicon glyphicon-edit'), edit_category_product_path(product.category, product)
      %td= link_to content_tag(:span,'',class:'glyphicon glyphicon-remove'), category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }
%br
