!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body

    .navbar.navbar-inverse{role: "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{href: "/"} Workshop #2
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if signed_in?
              %li.navbar-text=current_user.email
              %li= link_to "Sign out", destroy_user_session_path, method: "delete"
            - else
              %li=link_to 'Sign In', new_user_session_path, method: 'get'

    .container
      %ol.breadcrumb
        %li
          %a{href:'/'} Home
        = yield(:breadcrumb) if content_for?(:breadcrumb)
      -flash.each do |name, msg|
        =content_tag :div, msg, :class=>"alert alert-#{name}"
      = yield
